body {
  color: #332C2C;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7em;
}

.navbar-custom {
  background-color: #607000;
  color: #F4AF00;
  border-radius: 0;
}
  
.navbar-custom .navbar-nav > li > a {
  color: #F4AF00;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: #F4AF00;
  background-color: transparent;
}
    
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #332C2C;
}
    
.navbar-custom .navbar-brand {
  color: #F4AF00;
}

.navbar-custom .navbar-toggle {
  background-color: #eeeeee;
}
.navbar-custom .icon-bar {
  background-color: #836E2C;
}

a:link {
  color: #836E2C;
  text-decoration: none;
}

a:visited {
  color: #836E2C;
  text-decoration: none;
}

a:hover {
  color: #836E2C;
  text-decoration: underline;
}

a:active {
  color: #836E2C;
  text-decoration: underline;
}

.email {
  color: #836E2C;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.nav-pills > li > a {
  font-size: 80%;
  padding: 0.5em;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #F4AF00;
    background-color: #607000;
}

.panel-title-custom {
    font-size: 150%;
    color: #607000;
}

.bib-li {
  margin-bottom: 1em;
}

.bib-title {
    font-size: 120%;
    color: #607000;
}

a.bib-title-a:link {
    color: #607000;
    text-decoration: none;
}

a.bib-title-a:visited {
    color: #607000;
    text-decoration: none;
}

a.bib-title-a:hover {
    color: #607000;
    text-decoration: underline;
}

a.bib-title-a:active {
    color: #607000;
    text-decoration: underline;
}

.bib-author {
  color: #836E2C;
}

.bib-journal {
  font-style: italic;
}

.bib-default {
  
}

.stud {
  margin-bottom: 1.0em;
  font-size: 100%;
}

.stud-img {
  border: 2px solid #500000;
}
